!!!
%html
	%head
		%title Ciao!
		%link(rel="stylesheet" href="stylesheets/shared.css") 
	%body
		%h1 Hola
		%p
			=yield
		%p
		#footer 
			%a{:href => 'https://www.google.com', :title => 'Contact'}
				Contact